body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f1f8e9;
}

main {
    flex: 1 0 auto;
}

#add_category_btn {
    border-radius: 2px;
    border: solid 1px black;
}

#add_category_btn:hover {
    border: none;
}